<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<img class="img-fluid rounded mx-auto d-block" src="https://i.imgur.com/p4kY38n.gif"/>
	</div>
</body>
</html>